#*#
*.elc
*.org#
*.txt#
*.el#
*~
/taskmaster.org
/notes.org
/*.el##
/##notes.org##
/reorg-edits.el
/reorg-views.el
/indirect-buffer-test.el
/reorg-update.el
/short-zoo-2.org
/zoo-short.el
/reorg-tmp.el
